<!DOCTYPE html>
<html>
  <head>
    <title>MyNewApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
  </head>
  <body class="container">
    <% flash.each do |type, message| %>
      <div class="<%= type %>">
        <p><%= message %></p>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <li class="signedin">Signed in as <%= current_user.email %></li>
      <li class="signout"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
    <% else %>
      <li class="signin"><%= link_to "Sign In", sign_in_path %></li>
    <% end %>

    <p class="datetime">Current date and time: <%= current_date_and_time %></p>

    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Cat Pictures', cat_pictures_path %></li>
      <li><%= link_to 'Store Stock Info', stores_path %></li>
    </ul>

    <%= yield %>
  </body>
</html>
